:root {
  --cols : 2;
  --rows : 2;
  --map-min-height: 600px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.widget {
  margin: 1.5rem 0rem;
}

/* #main-plots {
  flex: 1;
} */

/* @media screen and (min-width: 1920px) {
  #main-plots {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: auto repeat(var(--rows), 1fr);
    gap : 1.5rem;
  }
} */

.maplibregl-ctrl-bottom-right {
  display: none;
}
.modebar-container {
  display: none;
}


.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
}

.loader.on {
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}
